<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- include() function used like a reference that particular file  -->
    <%- include('./partials/head') %>
    <title>Blog-Application</title>
  </head>
  <body>
    <%- include('./partials/navbar') %>
    <%- include('./partials/scripts') %>
  </body>
</html>
