<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- include() function used like a reference that particular file  -->
    <%- include('./partials/head') %>
    <title>signIn</title>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('./partials/navbar') %>
    <div class="container mt-4">
      <form action="/user/signin" method="post">
        <!-- Email -->
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            name="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <!-- Password -->
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input
            type="password"
            name="password"
            class="form-control"
            id="exampleInputPassword1"
          />
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
      </form>
    </div>

    <!-- Signup form -->
    <%- include('./partials/scripts') %>
  </body>
</html>
