<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- include() function used like a reference that particular file  -->
    <%- include('./partials/head') %>
    <title>signUp</title>
  </head>
  <body>
    <!-- Navbar -->
    <%- include('./partials/navbar') %>
    <div class="container">
        
    </div>
    <!-- Signup form -->


    <%- include('./partials/scripts') %>
  </body>
</html>
